@font-face {
    font-family: 'glacial indifference';
    src: url('/hosting/font/glacial-indifference/GlacialIndifference-Regular.otf');
}



:root {
    --primary-color: #49A84E;
    --secondary-color: #073643;
    --bottom-link: 2px solid var(--primary-color);
}


/* Utility Classes */
.tight-wrapper {
    max-width: 97vw;
    margin: 0 auto;
    padding: 0 1em;
}

/* Main Heading Font & Weight */
.heading-font {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
}

/* Sub Heading Font & Weight */
.subheading-font {
    font-family: 'glacial indifference';
    font-weight: 200;
}

.large-text {
    font-size: 4.5em;
}

/* Link over text properties for uniform */
.link-hover {
    /* border-bottom: 4px white solid; */
    padding: 0px;
    font-size: 1.5em;
}

/* Link over text properties for uniform */
.link-hover:hover {
    color: var(--main-color);
    border-bottom: 4px var(--main-color) solid;
}

ul,
li,
a {
    text-decoration: none;
    color: black;
    padding: 0;
}

.active {
    color: var(--primary-color);
    border-bottom: var(--bottom-link);
}

.brand-color {
    color: var(--primary-color);
}

/* Navigation Bar */

header {
    background-color: #073643cf;
    z-index: 1001;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    margin: 0;
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5em;

}

.branding {
    cursor: pointer;
}

.menu-list {
    display: flex;
    margin: 1em auto;
}

.menu-list li {
    margin: 0 auto;
}


.menu-list li a {
    color: white;

}

.menu-list li a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.hero {
    height: 100vh;
    padding: 0;
}


.hero div {
    z-index: 2;
}

.hero img {
    border-radius: 0 0 0px 80px;s
}